# Drupal
/web/sites/default/files
/web/sites/default/settings.dev.php
/web/sites/default/settings.local.php
/web/core
/web/modules/contrib
/web/themes/contrib
/web/profiles/contrib
/web/config/sync/key.key.dev_key.yml
/vendor/
# Config
# Note: config/sync is NOT ignored (we want to version it)

# DDEV - Ignorer les fichiers générés et données locales
.ddev/.*.yaml
.ddev/db_snapshots/
.ddev/.importdb/
.ddev/.downloads/
.ddev/mysql/
.ddev/traefik/
.ddev/xhprof/
.ddev/.homeadditions/
.ddev/.dbimageBuild/
.ddev/.webimageBuild/
# Editor
.editorconfig

